  <!--<md-card  class="activeChat">
    <md-card-title>
      Chat
    </md-card-title>
    <md-card-actions class="closeChatBtn">
      <button  (click)="toggleChat($event)">
        <i class="material-icons md-18">close</i>
      </button>
    </md-card-actions>
    
  </md-card>-->
  
  
  <div class="chatContainer mdl-card mdl-shadow--2dp"> 
    <div class="dateProfile">
      <div class="profile">
        Melissa
      </div>
    </div>
    <div class="textContainer">
      Chat
    </div>
    <div class="inputContainer">
      <form action="#">
        <div md-tooltip="Say hello!" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="text" id="sample3">
          <label class="mdl-textfield__label" for="sample3">Text...</label>
        </div>
      </form> 
      <div class="sendButton">
        <button _ngcontent-kbx-1="" md-raised-button="" md-tooltip="Send your message!">
          <span class="md-button-wrapper">Send</span>
          <div class="md-button-ripple" md-ripple="" md-ripple-background-color="rgba(0, 0, 0, 0)">
            <div class="md-ripple-background" style="background-color: transparent;"></div>
          </div>
        </button>
      </div>
    </div>
  </div>