.dashboard {
    width: 700px;
    margin-left: 500px;
    margin-top: 150px;
    height: 1000px;
}

.example-sidenav-fab-container {
    position: fixed;
    height: 100%;
   min-height: 100%;
   width: 100%;
   min-width: 100%;
}

.example-sidenav-fab-container md-sidenav {
  max-width: 200px;
}

.example-sidenav-fab-container .md-sidenav-content,
.example-sidenav-fab-container md-sidenav {
  display: flex;
  overflow: visible;
}

.example-scrolling-content {
    width: 200px;
}

.example-fab {
    width: 30px;
}

.sidenav{
    width: 10%;
}
